.cv-sheet {
  background-color: var(--white);
  display: flex;
  flex-basis: 80ch;
  min-width: 45ch;
  min-height: 112.8ch;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.cv-container {
  display: grid;
  height: min-content;
  gap: 1rem;
}

.cv-experience,
.cv-education {
  width: 85%;
  justify-self: center;
}