.cv-sheet {
  background-color: var(--white);
  display: flex;
  flex-basis: 100ch;
  min-width: 45ch;
  max-height: 141ch;
}

.cv-container {
  display: grid;
  height: min-content;
  gap: 1rem;
}

.cv-experience,
.cv-education {
  width: 85%;
  justify-self: center;
}