.cv-personal-details {
  background-color: var(--header);
  display: grid;
  justify-items: center;
  padding: 0.5rem 1rem;
}

.cv-personal-details > h2 {
  margin: 0;
  padding: 1rem 0;
  color: var(--white);
  font-size: 2rem;
}

.cv-details {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 0.5rem 0;
}

.cv-details > * {
  color: var(--white);
  display: flex;
  align-items: center;
}

.cv-details > * > .icon {
  margin-right: 0.25rem;
  height: 1rem;
  filter: var(--light-filter);
}
