.cv-experience > h3 {
  margin: 0;
  background-color: var(--grey);
  text-align: center;
  padding: 0.5rem 0;
}

.cv-experience-container {
  display: flex;
  gap: 2rem;
  padding-top: 0.75rem;
}

.cv-experience-container > * > * {
  margin: 0;
}

.cv-experience-container > .date-location {
  min-width: fit-content;
}

.job-details > .description {
  padding-top: 0.5rem;
}

.company {
  font-weight: bold;
}

.experience-description {
  resize: vertical;
  background-color: var(--grey);
  border: none;
  padding: 0.5rem 0.6rem;
}
