.experience {
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  background-color: rgb(227, 227, 227);
}

.experience > form {
  margin-top: 1rem;
  display: grid;
}

.experience > form > label {
  text-align: start;
}

.experience > form > input {
  margin-bottom: 1rem;
  padding: 0.4rem 0.3rem;
  border-radius: 0.6rem;
  border: none;
}
