header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 0;
}

header > h1 {
  margin: 0;
}

.title-logo {
  height: 3.5rem;
}

.gh-logo {
  margin-left: -0.75rem;
  height: 1.2rem;
  filter: invert(15%) sepia(48%) saturate(534%) hue-rotate(167deg)
    brightness(103%) contrast(91%);
}

.gh-logo:hover {
  transform: rotate(720deg);
  transition: transform 1s;
}

.gh-logo:active {
  filter: invert(8%) sepia(50%) saturate(5142%) hue-rotate(0deg)
    brightness(104%) contrast(117%);
}

.gh-logo:focus {
  outline: #213547 solid 1px;
}
