.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs-container > * {
  width: 50ch;
  background-color: var(--white);
}

.inputs-heading {
  display: flex;
  justify-content: space-between;
}

.inputs-heading > h2 {
  margin: 0;
}

.inputs-heading > button > img {
  height: 1.5rem;
  filter: invert(15%) sepia(48%) saturate(534%) hue-rotate(167deg)
    brightness(103%) contrast(91%);
}

.inputs-heading > button {
  background: none;
  border: none;
}

.inputs-heading > button:hover {
  opacity: 0.8;
}

.inputs-container > * > form > input {
  background-color: var(--grey);
  margin-bottom: 1rem;
  padding: 0.5rem 0.6rem;
  border-radius: 0.6rem;
  border: none;
}
