.education {
  border-radius: 1rem;
  padding: 1.5rem 2rem;
}

.add-education {
  margin-top: 1.5rem;
  width: fit-content;
  justify-self: center;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  background-color: var(--white);
  border: solid 4px var(--grey);
}

.add-education:hover {
  background-color: #f2f2f2;
}

.add-education:active {
  color: white;
  background-color: black;
}
