.instance-heading > button {
    background-color: var(--white);
    border: none;
}

.instance-heading > button:hover {
    background-color: var(--hover-bg);
}

.instance-heading > button:active {
    background-color: var(--active-bg);
}

.edit-logo {
    margin-right: 0.5rem;
    height: 1rem;
}