.personal-details {
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    background-color: rgb(227, 227, 227);
}

.personal-heading {
    display: flex;
    gap: .5rem;
}

.personal-heading > h2 {
    margin: 0;
}

.personal-heading > button > img {
    height: 1.5rem;
    filter: invert(15%) sepia(48%) saturate(534%) hue-rotate(167deg) brightness(103%) contrast(91%);
}

.personal-heading > button {
    background: none;
    border: none;
}

.personal-heading > button:hover {
    opacity: 0.7;
}

.personal-heading > button:active {
    filter: invert(8%) sepia(50%) saturate(5142%) hue-rotate(0deg) brightness(104%) contrast(117%);
}

form {
    margin-top: 1rem;
    display: grid;
}

form > label {
    text-align: start;
}

form > input {
    margin-bottom: 1rem;
    padding: .4rem .3rem;
    border-radius: 0.6rem;
    border: none;
}