body {
  margin: 0;
  background-color: var(--grey);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--vertical);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--horizontal);
  padding: 0 var(--horizontal);
}
